.main-footer{
    background-color: #559b46;
}

.rights{
    background-color: #0b4818;
}

.video{
    margin: 0px 120% 120% 0px;
    padding: 0px 120px 120px 0px;
    align-content: center;
    border: none;
}