{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro - Home{% endblock title %}


{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>Curso de Python</h2>
                <h4 class="mt-4">Matriculas Abertas</h4>
                <!-- INICIO DO BOTAO PAGSEGURO -->
                <a href="https://pag.ae/7Wpwjtjew/button" target="_blank" title="Pagar com PagSeguro">
                    <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/180x25-pagar-azul.gif"
                         alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                </a><!-- FIM DO BOTAO PAGSEGURO -->

                {% comment %}<h4 class="mt-4">Entre para a Lista de Espera do curso</h4>
                <!-- Begin Mailchimp Signup Form -->
                <form action="https://ufpe.us2.list-manage.com/subscribe/post?u=3e1a01dbfbd0804e9009e2415&amp;id=29f81a4733"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="form-row align-items-center" target="_blank" novalidate>
                  <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label class="sr-only" for="mce-EMAIL">First Name </label>
                        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Nome">
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="mce-EMAIL">Email</label>
                        <input type="email" value="" name="EMAIL" class="form-control required"
                               id="mce-EMAIL" placeholder="exemplo@gmail.com">
                    </div>

                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_3e1a01dbfbd0804e9009e2415_29f81a4733" tabindex="-1" value="">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-2" id="mc-embedded-subscribe">Enviar</button>
                    </div>
                  </div>
                </form>{% endcomment %}

			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Descrição do instrutor
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/foto.jpg' %}" alt="foto do mario"
                                     class="img-thumbnail float-left mr-2"/>
							    Mario é um personagem fictício da franquia e série de jogos eletrônicos
                                Servindo como mascote da Nintendo e protagonista homônimo da série,
                                Mario já apareceu em mais de 200 jogos desde sua criação. Mario é
                                retratado como um encanador italiano baixinho rechonchudo e bigodudo vindo
                                do Brooklyn que reside no Reino dos Cogumelos. Ele repetidamente tem a missão
                                de resgatar a Princesa Peach, do vilão Bowser e impedir seus diversos planos de
                                destruir e dominar o reino. Mario também tem outros inimigos ou rivais,
                                incluindo Donkey Kong e Wario.

                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
